<h1>Book Information</h1>
<p>
  <strong>Title:</strong> <%= @book.title %>
</p>

<p>
  <strong>Author:</strong> <%= @book.author %>
</p>

<h2>Ratings</h2>
<!-- add ratings here -->
<table>
  <tr><th>Was Read</th><th>Rating</th><th>Delete</th></tr>
  <%= render @book.ratings %>
</table>
<br />

<%= link_to 'Back to Listing', books_path %>
<%= link_to 'Add a rating', new_book_rating_path(book_id: @book.id) %>
<%= link_to 'Edit this book', edit_book_path(@book) %>
